@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}
.outline-title {
    
    -webkit-text-stroke:1px black;
    -webkit-font-smoothing: antialiased;
    /* -moz-osx-font-smoothing: grayscale; */
    text-rendering: optimizeLegibility;
}
/* body{
    background-color: #e8e0e03c;
} */